.fc-event-main {
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1.4vh;
}

.fc {
  padding: 20px;
}
.menu {
  position: absolute;
  top: -2vh;
  left: 20vw;
}
.calender {
  width: 90vw;
  height: 90vh;
  margin: auto;
}

.fc-col-header-cell-cushion {
  color: #2c3e50;
}
.fc-daygrid-day-number {
  color: #2c3e50;
}

.form-contenant {
  width: 40vw;
  .event-form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .first-section {
      padding-right: 30px;
      width: 50%;
      .offer {
        padding-left: 20px;
      }
    }
    .second-section {
      width: 50%;
      .date {
        padding-bottom: 20px;
      }
      .address {
        padding-top: 50px;
      }
    }
    span {
      color: red;
    }
  }
}

#required {
  color: red;
}

#services-alerts-filter-dropdown-events {
  width: 14rem;
  margin-bottom: 20px;
  margin-top: 5.2rem;
  z-index: 1;
}

.post-event-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0;

  #close-button {
    &:hover {
      background-color: white !important;
    }
    &:focus:active {
      outline: 0 !important;
    }

    .fa-times {
      font-size: 20px;
      margin-right: -40px;
    }
    #service-close {
      margin-right: -10px;
    }
  }
}

#streetNumber,
#streetName,
#city,
#eventTitle,
#serviceTitle,
#eventDescription,
#serviceDescription,
#eventPhoto,
#servicePhoto,
#alertPhoto,
#alertTitle,
#alertDescription,
#selectedCategory,
#formBasicFirstname,
#formBasicLastname,
#formBasicEmail,
#formBasicPhoneNumber,
#formBasicProfilePhoto,
#formBasicBio,
#message {
  &:hover {
    border-color: #f3c677;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(213, 178, 114, 0.6);
  }

  &:focus {
    border-color: #f3c677;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(213, 178, 114, 0.6);
  }
}
@media screen and (max-width: 1400px) {
  .form-contenant {
    width: 60vw;
  }
}
@media screen and (max-width: 1000px) {
  .form-contenant {
    width: 70vw;
  }
}

@media screen and (max-width: 750px) {
  .form-contenant {
    width: 90vw;
  }
}
