.landing-header {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  height: 5vh;
  margin-top: -40px;
  align-items: center;
}

.logo-container,
.nav-links,
.login-container {
  display: flex;
}

.logo-container {
  flex: 1;

  h4 {
    font-size: 18px;
    padding-top: 5px;
    padding-left: 5px;
  }
  img {
    height: 30px;
  }
}

nav {
  flex: 5;
}
.nav-links {
  justify-content: flex-end;
  margin-top: 15px;
  list-style: none;
}
.nav-link {
  color: #2c3e50;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
}

.login-container {
  flex: 1;
  justify-content: flex-end;
}

.login-button {
  background-color: #fae5a4 !important;
  border: #fae5a4 solid 1px !important;
  color: #2c3e50 !important;
  font-weight: 500 !important;
  width: 60%;

  box-shadow: none !important;

  &:hover {
    background-color: #f3c677 !important;
  }
  &:focus:active {
    box-shadow: none !important;
  }
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 90vh;
}

.introduction {
  flex: 1;
  align-self: flex-start;
  margin-top: 150px;
  margin-right: 5vw;
}
.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  color: #2c3e50;
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #2c3e50;
}

.cover {
  flex: 1;
  height: 75vh;
  align-self: flex-end;
}
.cover img {
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin: auto;
    margin-top: 5vh;

    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }

  .cover {
    flex: 1;
  }
  .cover img {
    // margin-top: 5vh;
    max-width: 100%;

    height: auto;
  }
}
