.postingRow {
  display: flex;
  justify-content: center;
}

.all-postings {
  margin-top: -2rem;
  max-width: 100%;

  .card-body {
    background-color: white !important;
  }
}

#z-index-zero {
  z-index: 1;
  color: #2c3e50 !important;
  font-weight: 500 !important;
}

#services-alerts-title {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#services-alerts-title-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white !important;
  margin-left: 20px;
  margin-right: 25px;
}

#services-alerts-header {
  display: flex;
  justify-content: center;
  background-color: white !important;
  font-family: $titleFont;

  h1 {
    font-size: 3.5rem !important;
  }
}

#services-alerts-spreader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#services-alerts-new-button {
  height: 3.6rem;
  width: 12rem;
  margin-right: 0.5rem;
}

#services-alerts-filter-dropdown {
  height: 3.6em;
  width: 14rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service-offer-request {
  padding-top: 8px;
}

.service-alert-button {
  background-color: #fae5a4 !important;
  border: #fae5a4 solid 1px !important;
  color: #2c3e50 !important;
  font-weight: 500 !important;
  height: 52px;

  &:hover {
    background-color: #f3c677 !important;
  }
  &:focus:active {
    box-shadow: none !important;
  }
}

small {
  padding-left: 5px;
}

.post {
  width: 100%;
}

.MuiFilledInput-root {
  background-color: #fae5a4 !important;
}

#outlined-age-native-simple {
  color: #2c3e50 !important;
  font-size: 0.9em !important;
}

.radio:focus:active {
  background-color: black !important;
}

#description {
  padding-top: 15px;
}

#category {
  margin-top: -10px;
}
